<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ page.name }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.baseurl }}/js/vendor/respond.min.js"></script>
    <![endif]-->

    <style>
      body {
          background-color: cyan
      }
      </style>
  </head>

  <body>
    {% include header.html %}
    {% include navigation-sliding.html %}

    {% if page.image.feature %}
       {% if page.image.feature contains "https://" %}
         {% assign purl = page.image.feature %}
       {% else %}
         {% assign purl = "/images/"|append: page.image.feature %}
       {% endif %}
    <div class="page-lead" style="background-image:url({{ purl }})">
        <h2><img src="/images/MLGLogoWhite.png"/></h2>
        <h4 style="text-align:center">{{page.centerbanner}}</h4>
        <img style="-webkit-user-select: none;float:left;margin: -250px 15px 15px 0px;background-color: hsl(0%, 100%, 100%);width:10%;transition: background-color 300ms;" src="https://static.wixstatic.com/media/fc1d85_adb8204c102546e0a56334e44b1c91a5~mv2.png/v1/crop/x_66,y_0,w_2055,h_2742/fill/w_360,h_479,al_c,q_85,usm_0.66_1.00_0.01/Marcelle2_1.webp">
<!-- style="float:left; margin-right:10px; width:80px; height:80px; border:none;" -->
        <div class="wrap page-lead-content">
          <h2>&nbsp</h2>
          <h2>&nbsp</h2>
          <a href="mailto:marcelle@mlgtalentstrategyandconsulting.com" class="btn-inverse">Contact Us</a>
          <br>
          <a href="https://www.linkedin.com/in/marcellegruman"><img src="/images/linkedIn.svg" style="width:4%"></a>


      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->
    {% endif %}

    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      <div id="main" role="main">
        <div class="wrap">
          <div class="page-title">
            <h1>{{ page.title }}</h1>
            {% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
          </div>
          <div class="archive-wrap">
            <div class="page-content">
              {{ content }}
            </div><!-- /.page-content -->
          </div class="archive-wrap"><!-- /.archive-wrap -->
        </div><!-- /.wrap -->
      </div><!-- /#main -->

      {% include footer.html %}
    </div>

    <script src="{{ site.baseurl }}/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>

  </body>

</html>
